<header>
  <h1>Seg3D Pages</h1>
  <p>Web pages for Seg3D</p>
  <p class="view"><a href="https://github.com/SCIInstitute/Seg3D">View the Project on GitHub <small>SCIInstitute/Seg3D</small></a></p>
  <ul>
    <!-- <li><a href="https://github.com/SCIInstitute/seg3d.pages/zipball/master">Download <strong>ZIP File</strong></a></li> -->
    <!-- <li><a href="https://github.com/SCIInstitute/seg3d.pages/tarball/master">Download <strong>TAR Ball</strong></a></li> -->
    <li><a href="index.html"><strong>Main</strong></a></li>
    <li><a href="specs.html"><strong>Platform Support</strong></a></li>
    <li><a href="build.html"><strong>Build</strong></a></li>
    <li><a href="https://github.com/SCIInstitute/Seg3D">View On <strong>GitHub</strong></a></li>
  </ul>
</header>
